## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [1]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')

df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [28]:
# View the column names in the data
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number', 'shipping_price', 'line_subtotal', 'line_price',
       'line_cost', 'line_profit'],
      dtype='object')

In [26]:
# Use the describe function to gather some basic statistics
desciption = df.describe()
print(desciption)

          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number  shipping_price  \
count  54639.000000  54639.000000  5.463900e+04  54639.000000    5.463900e+04
mean      99.446073      5.004116  5.702646e+02      2.979667    1.742510e+04
std      133.164267      5.326599  1.879552e+04      2.436320    3.891595e+05
min        0.010000      0.000000  0.000000e+00      0.000000    0.000000e+00
25%       14.840000      1.450000  3.200000e+01      1.000000    4.966500e+02
50%       49.890000      3.240000  6.800000e+01      3.000000    1.577800e+03
75%      125.570000      6.890000  1.700000e+02      5.000000    5.029080e+03
max      846.270000     46.430000  3.958244e+06      9.000000    6.306339e+07

       line_subtotal    line_price     line_cost   line_profit
count   5.463900e+04  5.463900e+04  5.463900e+04  5.463900e+04
mean    7.710286e+04  1.032718e+05  7.387972e+04  2.939207e+04
std     2.881926e+06  3.286505e+06  2.133294e+06  1.195291e+06
min     0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%     1.132950e+03  2.887565e+03  2.206360e+03  5.597773e+02
50%     4.629440e+03  8.396485e+03  6.266040e+03  1.894838e+03
75%     1.736913e+04  2.645605e+04  1.946590e+04  6.674207e+03
max     5.844743e+08  6.412625e+08  3.987535e+08  2.425090e+08

In [4]:
# Use this space to do any additional research
# and familiarize yourself with the data.

In [4]:
# What three item categories had the most entries?

category_counts = df['category'].value_counts()

top_three_categories = category_counts.head(3)
print("Top three item categories with the most entries:")
print(top_three_categories)

Top three item categories with the most entries:
category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [6]:
# For the category with the most entries,
# which subcategory had the most entries?

#This code to determine the category with the most entries
most_entries_category = df['category'].value_counts().idxmax()

#This code to filter the DataFrame to include only entries corresponding to the category with the most entries
filtered_df = df[df['category'] == most_entries_category]

#This code to determine the subcategory with the most entries within the filtered DataFrame
most_entries_subcategory = filtered_df['subcategory'].value_counts().idxmax()

#Print the subcategory with the most entries within the category with the most entries
print(f"For the category '{most_entries_category}', the subcategory '{most_entries_subcategory}' had the most entries.")

For the category 'consumables', the subcategory 'bathroom supplies' had the most entries.

In [7]:
#Which five clients had the most entries in the data?

top_five_clients = df['client_id'].value_counts().head(5)
print("Top five clients with the most entries:")
print(top_five_clients)

Top five clients with the most entries:
client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [8]:
# Store the client ids of those top 5 clients in a list.

top_five_clients = df['client_id'].value_counts().head(5)

top_five_client_ids = top_five_clients.index.tolist()
print("Client IDs of the top five clients:")
print(top_five_client_ids)

Client IDs of the top five clients:
[33615, 66037, 46820, 38378, 24741]

In [9]:
# How many total units (the qty column) did the
# client with the most entries order order?

client_with_most_entries = df['client_id'].value_counts().idxmax()

client_most_entries_df = df[df['client_id'] == client_with_most_entries]

total_units_ordered = client_most_entries_df['qty'].sum()
print(f"The client with the most entries ordered a total of {total_units_ordered} units.")

The client with the most entries ordered a total of 64313 units.

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [10]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

df['subtotal'] = df['unit_price'] * df['qty']
print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year         item_id     category         subcategory  \
0          17        2023  EUD29711-63-6U        decor            wall art
1          20        2023  XDA18116-89-4A  consumables                pens
2           4        2023  ABE59463-05-7E     software  project management
3          17        2023  ZMM00836-65-0C  consumables                pens
4          21        2023  BZX55559-12-3X  consumables                misc

   unit_price  unit_cost  unit_weight  qty  line_number   subtotal
0     1096.80     762.71         7.50  105            1  115164.00
1       24.95      15.09         1.49   21            0     523.95
2       13.52       7.86         1.68   39            6     527.28
3       36.42      24.85         1.23   29            3    1056.18
4      195.10     108.17        46.43   20            1    3902.00

In [14]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('Resources/client_dataset.csv')

# Code to determine a function to calculate shipping price based on weight and quantity
def calculate_shipping_price(row):
    if row['unit_weight'] * row['qty'] > 50:
        return row['unit_weight'] * row['qty'] * 7  # $7 per pound for orders over 50 pounds
    else:
        return row['unit_weight'] * row['qty'] * 10  # $10 per pound for orders 50 pounds or under

# New column 'shipping_price' by applying the function to each row
df['shipping_price'] = df.apply(calculate_shipping_price, axis=1)

# Display the DataFrame with new 'shipping_price' column
print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year         item_id     category         subcategory  \
0          17        2023  EUD29711-63-6U        decor            wall art
1          20        2023  XDA18116-89-4A  consumables                pens
2           4        2023  ABE59463-05-7E     software  project management
3          17        2023  ZMM00836-65-0C  consumables                pens
4          21        2023  BZX55559-12-3X  consumables                misc

   unit_price  unit_cost  unit_weight  qty  line_number  shipping_price
0     1096.80     762.71         7.50  105            1         5512.50
1       24.95      15.09         1.49   21            0          312.90
2       13.52       7.86         1.68   39            6          458.64
3       36.42      24.85         1.23   29            3          356.70
4      195.10     108.17        46.43   20            1         6500.20

In [16]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%

import pandas as pd

# Code to calculate shipping price based on weight and quantity
def calculate_shipping_price(row):
    if row['unit_weight'] * row['qty'] > 50:
        return row['unit_weight'] * row['qty'] * 7  # $7 per pound for orders over 50 pounds
    else:
        return row['unit_weight'] * row['qty'] * 10  # $10 per pound for orders 50 pounds or under

# Createing a new column 'shipping_price' by applying the function to each row
df['shipping_price'] = df.apply(calculate_shipping_price, axis=1)

# Code to determine a function to calculate line subtotal
def calculate_line_subtotal(row):
    return row['unit_price'] * row['qty']

# Creating a new column 'line_subtotal' by applying the function to each row
df['line_subtotal'] = df.apply(calculate_line_subtotal, axis=1)

# Code to define a function to calculate line price including shipping and tax
def calculate_line_price(row):
    subtotal = row['line_subtotal']
    shipping_price = row['shipping_price']
    tax_rate = 0.0925  # 9.25% sales tax
    line_price = subtotal + shipping_price + (subtotal + shipping_price) * tax_rate
    return line_price

# Creating a new column 'line_price' by applying the function to each row
df['line_price'] = df.apply(calculate_line_price, axis=1)

# Display the new DataFrame with the new columns 'shipping_price', 'line_subtotal', and 'line_price'
print(df[['shipping_price', 'line_subtotal', 'line_price']])

       shipping_price  line_subtotal     line_price
0             5512.50      115164.00  131839.076250
1              312.90         523.95     914.258625
2              458.64         527.28    1077.117600
3              356.70        1056.18    1543.571400
4             6500.20        3902.00   11364.403500
...               ...            ...            ...
54634          519.75        2743.29    3564.871200
54635         3849.30        9709.73   14813.240275
54636        13832.00       31188.50   49184.896250
54637        14143.36         165.76   15632.713600
54638        14939.19        3103.31   19711.431250

[54639 rows x 3 columns]

In [17]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).

import pandas as pd

# Code to define a function to calculate shipping price based on weight and quantity
def calculate_shipping_price(row):
    if row['unit_weight'] * row['qty'] > 50:
        return row['unit_weight'] * row['qty'] * 7  # $7 per pound for orders over 50 pounds
    else:
        return row['unit_weight'] * row['qty'] * 10  # $10 per pound for orders 50 pounds or under

# Creating a new column 'shipping_price' by applying the function to each row
df['shipping_price'] = df.apply(calculate_shipping_price, axis=1)

# Code to define a function to calculate line subtotal
def calculate_line_subtotal(row):
    return row['unit_price'] * row['qty']

# Creating a new column 'line_subtotal' by applying the function to each row
df['line_subtotal'] = df.apply(calculate_line_subtotal, axis=1)

# Code to define a function to calculate line price including shipping and tax
def calculate_line_price(row):
    subtotal = row['line_subtotal']
    shipping_price = row['shipping_price']
    tax_rate = 0.0925  # 9.25% sales tax
    line_price = subtotal + shipping_price + (subtotal + shipping_price) * tax_rate
    return line_price

# Creating a new column 'line_price' by applying the function to each row
df['line_price'] = df.apply(calculate_line_price, axis=1)

# Display the new DataFrame with the new columns 'shipping_price', 'line_subtotal', and 'line_price'
print(df[['shipping_price', 'line_subtotal', 'line_price']])
# Your existing code here
# Assuming 'df' is your DataFrame
# Definitions of calculate_shipping_price, calculate_line_subtotal, and calculate_line_price functions

# Code to define a function to calculate the cost of each line including unit cost, qty, and shipping price
def calculate_line_cost(row):
    item_cost = row['unit_cost'] * row['qty']  # Total cost of items
    shipping_cost = row['shipping_price']  # Shipping cost as charged to the client
    line_cost = item_cost + shipping_cost  # Total line cost
    return line_cost

# Creating a new column 'line_cost' by applying the function to each row
df['line_cost'] = df.apply(calculate_line_cost, axis=1)

# Display the new DataFrame with the new column 'line_cost' along with 'shipping_price', 'line_subtotal', and 'line_price'
print(df[['shipping_price', 'line_subtotal', 'line_price', 'line_cost']])

       shipping_price  line_subtotal     line_price
0             5512.50      115164.00  131839.076250
1              312.90         523.95     914.258625
2              458.64         527.28    1077.117600
3              356.70        1056.18    1543.571400
4             6500.20        3902.00   11364.403500
...               ...            ...            ...
54634          519.75        2743.29    3564.871200
54635         3849.30        9709.73   14813.240275
54636        13832.00       31188.50   49184.896250
54637        14143.36         165.76   15632.713600
54638        14939.19        3103.31   19711.431250

[54639 rows x 3 columns]
       shipping_price  line_subtotal     line_price  line_cost
0             5512.50      115164.00  131839.076250   85597.05
1              312.90         523.95     914.258625     629.79
2              458.64         527.28    1077.117600     765.18
3              356.70        1056.18    1543.571400    1077.35
4             6500.20        3902.00   11364.403500    8663.60
...               ...            ...            ...        ...
54634          519.75        2743.29    3564.871200    2222.55
54635         3849.30        9709.73   14813.240275   12095.92
54636        13832.00       31188.50   49184.896250   41054.25
54637        14143.36         165.76   15632.713600   14280.00
54638        14939.19        3103.31   19711.431250   16599.10

[54639 rows x 4 columns]

In [18]:
# Create a column for the profit of
# each line using line cost and line price

import pandas as pd

# Code to define a function to calculate shipping price based on weight and quantity
def calculate_shipping_price(row):
    if row['unit_weight'] * row['qty'] > 50:
        return row['unit_weight'] * row['qty'] * 7  # $7 per pound for orders over 50 pounds
    else:
        return row['unit_weight'] * row['qty'] * 10  # $10 per pound for orders 50 pounds or under

# Creating a new column 'shipping_price' by applying the function to each row
df['shipping_price'] = df.apply(calculate_shipping_price, axis=1)

# Code to define a function to calculate line subtotal
def calculate_line_subtotal(row):
    return row['unit_price'] * row['qty']

# Creating a new column 'line_subtotal' by applying the function to each row
df['line_subtotal'] = df.apply(calculate_line_subtotal, axis=1)

# Code to define a function to calculate line price including shipping and tax
def calculate_line_price(row):
    subtotal = row['line_subtotal']
    shipping_price = row['shipping_price']
    tax_rate = 0.0925  # 9.25% sales tax
    line_price = subtotal + shipping_price + (subtotal + shipping_price) * tax_rate
    return line_price

# Creating a new column 'line_price' by applying the function to each row
df['line_price'] = df.apply(calculate_line_price, axis=1)

# Code to define a function to calculate the cost of each line including unit cost, qty, and shipping price
def calculate_line_cost(row):
    item_cost = row['unit_cost'] * row['qty']  # Total cost of items
    shipping_cost = row['shipping_price']  # Shipping cost as charged to the client
    line_cost = item_cost + shipping_cost  # Total line cost
    return line_cost

# Creating a new column 'line_cost' by applying the function to each row
df['line_cost'] = df.apply(calculate_line_cost, axis=1)

# Code to define a function to calculate the profit of each line using line cost and line price
def calculate_line_profit(row):
    line_price = row['line_price']  # The total selling price for the line
    line_cost = row['line_cost']  # The total cost for the line
    line_profit = line_price - line_cost  # Profit calculation
    return line_profit

# Creating a new column 'line_profit' by applying the function to each row
df['line_profit'] = df.apply(calculate_line_profit, axis=1)

# Display the new DataFrame with the new columns
print(df[['shipping_price', 'line_subtotal', 'line_price', 'line_cost', 'line_profit']])

       shipping_price  line_subtotal     line_price  line_cost   line_profit
0             5512.50      115164.00  131839.076250   85597.05  46242.026250
1              312.90         523.95     914.258625     629.79    284.468625
2              458.64         527.28    1077.117600     765.18    311.937600
3              356.70        1056.18    1543.571400    1077.35    466.221400
4             6500.20        3902.00   11364.403500    8663.60   2700.803500
...               ...            ...            ...        ...           ...
54634          519.75        2743.29    3564.871200    2222.55   1342.321200
54635         3849.30        9709.73   14813.240275   12095.92   2717.320275
54636        13832.00       31188.50   49184.896250   41054.25   8130.646250
54637        14143.36         165.76   15632.713600   14280.00   1352.713600
54638        14939.19        3103.31   19711.431250   16599.10   3112.331250

[54639 rows x 5 columns]

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [25]:
# Check your work using the totals above

import pandas as pd

# Filtering the DataFrame for the specified order IDs that were given
order_1 = df[df['order_id'] == 2742071]
order_2 = df[df['order_id'] == 2173913]
order_3 = df[df['order_id'] == 6128929]

# Calculating the total price for each of the orders
total_price_order_1 = order_1['line_price'].sum()
total_price_order_2 = order_2['line_price'].sum()
total_price_order_3 = order_3['line_price'].sum()

# Printing the total prices for each order to confirm the price
print("Total price for Order ID 2742071:", total_price_order_1)
print("Total price for Order ID 2173913:", total_price_order_2)
print("Total price for Order ID 6128929:", total_price_order_3)

Total price for Order ID 2742071: 152811.897075
Total price for Order ID 2173913: 162388.71929999997
Total price for Order ID 6128929: 923441.24045

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [20]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.

# Pulling the top 5 client IDs
top_clients = [33615, 66037, 46820, 38378, 24741]

# Filtering the DataFrame for transactions made by the top 5 client IDs
top_clients_df = df[df['client_id'].isin(top_clients)]

# Code for grouping by client_ID and calculate total spending
total_spending_by_client = top_clients_df.groupby('client_id')['line_price'].sum()

# Printing the total spending by each of the top 5 clients
print(total_spending_by_client)

client_id
24741    8.226889e+07
33615    8.377309e+06
38378    1.290655e+07
46820    9.743794e+06
66037    1.025951e+07
Name: line_price, dtype: float64

In [22]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.


import pandas as pd

# Code to define a function to calculate total units purchased
def calculate_total_units(client_id):
    client_data = top_clients_df[top_clients_df['client_id'] == client_id]
    total_units = client_data['qty'].sum()
    return total_units

# Code to define a function to calculate total shipping price
def calculate_total_shipping(client_id):
    client_data = top_clients_df[top_clients_df['client_id'] == client_id]
    total_shipping = client_data['shipping_price'].sum()
    return total_shipping

# Code to define a function to calculate total revenue
def calculate_total_revenue(client_id):
    client_data = top_clients_df[top_clients_df['client_id'] == client_id]
    total_revenue = client_data['line_price'].sum()
    return total_revenue

# Code to define a function to calculate total profit
def calculate_total_profit(client_id):
    client_data = top_clients_df[top_clients_df['client_id'] == client_id]
    total_profit = client_data['line_profit'].sum()
    return total_profit

# Creating a dictionary to store the calculated values
summary_data = {
    'total_units_purchased': [calculate_total_units(client_id) for client_id in top_clients],
    'total_shipping_price': [calculate_total_shipping(client_id) for client_id in top_clients],
    'total_revenue': [calculate_total_revenue(client_id) for client_id in top_clients],
    'total_profit': [calculate_total_profit(client_id) for client_id in top_clients]
}

# Creating a DataFrame from the dictionary
summary_df = pd.DataFrame(summary_data, index=top_clients)

# Sorting the DataFrame by total profit
summary_df = summary_df.sort_values(by='total_profit', ascending=False)

# Printing the new summary DataFrame
print(summary_df)

       total_units_purchased  total_shipping_price  total_revenue  \
24741                 239862            5126448.37   8.226889e+07
38378                  73667            3429455.40   1.290655e+07
66037                  43018            1395151.85   1.025951e+07
46820                  75768            1601448.84   9.743794e+06
33615                  64313            1828984.89   8.377309e+06

       total_profit
24741  3.657999e+07
38378  3.271830e+06
66037  3.255032e+06
46820  2.736603e+06
33615  2.201995e+06

In [23]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

# Formating the data
summary_df['total_units_purchased'] = summary_df['total_units_purchased'].apply(lambda x: '{:,.0f}'.format(x))
summary_df['total_shipping_price'] = summary_df['total_shipping_price'].apply(lambda x: '${:,.2f}'.format(x))
summary_df['total_revenue'] = summary_df['total_revenue'].apply(lambda x: '${:,.2f}'.format(x))
summary_df['total_profit'] = summary_df['total_profit'].apply(lambda x: '${:,.2f}'.format(x))

# Renaming the columns for presentation as requested
summary_df = summary_df.rename(columns={
    'total_units_purchased': 'Total Units Purchased',
    'total_shipping_price': 'Total Shipping Price',
    'total_revenue': 'Total Revenue',
    'total_profit': 'Total Profit'
})

# Converting the currency to millions of dollars
summary_df['Total Shipping Price'] = summary_df['Total Shipping Price'].apply(lambda x: '${:,.2f}M'.format(float(x.strip('$').replace(',', '')) / 1000000))
summary_df['Total Revenue'] = summary_df['Total Revenue'].apply(lambda x: '${:,.2f}M'.format(float(x.strip('$').replace(',', '')) / 1000000))
summary_df['Total Profit'] = summary_df['Total Profit'].apply(lambda x: '${:,.2f}M'.format(float(x.strip('$').replace(',', '')) / 1000000))

# Printing the new formatted summary DataFrame
print(summary_df)

      Total Units Purchased Total Shipping Price Total Revenue Total Profit
24741               239,862               $5.13M       $82.27M      $36.58M
38378                73,667               $3.43M       $12.91M       $3.27M
66037                43,018               $1.40M       $10.26M       $3.26M
46820                75,768               $1.60M        $9.74M       $2.74M
33615                64,313               $1.83M        $8.38M       $2.20M

In [24]:
# Sort the updated data by "Total Profit" form highest to lowest

import pandas as pd

# Sorting the updated DataFrame by "Total Profit" from highest to lowest
summary_df = summary_df.sort_values(by='Total Profit', ascending=False)

# Printing the new the sorted summary DataFrame
print(summary_df)

#Client ID 24741 did the most in profit by far compared to the other top clients; the rest of the four were similar in terms of shipping price cost and total revenue/profit. The highest top client outperformed the rest combined.

      Total Units Purchased Total Shipping Price Total Revenue Total Profit
24741               239,862               $5.13M       $82.27M      $36.58M
38378                73,667               $3.43M       $12.91M       $3.27M
66037                43,018               $1.40M       $10.26M       $3.26M
46820                75,768               $1.60M        $9.74M       $2.74M
33615                64,313               $1.83M        $8.38M       $2.20M